<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Webmin | %h</name>
  <!-- 🧲 WebMin --><service>
      <type>_http._tcp</type>
      <port>10001</port>
    </service>
</service-group>